#test nodejs
siege -q --concurrent=100 --reps=100 "http://localhost:5020/Echo POST <../data/lorem-ipsum-10kb" > nodejs_siege_echo.out

#test tomcat
siege -q --concurrent=100 --reps=100 "http://localhost:5040/http://locahost:5040/servlets-1.0-SNAPSHOT/Echo POST >../lorem-ipsum-10kb" > tomcat_siege_echo.out
