<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AsyncEcho</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.AsyncEcho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CannedResponse</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.CannedResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsyncCannedResponse</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.AsyncCannedResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncEcho</servlet-name>
        <url-pattern>/AsyncEcho</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Echo</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.Echo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Echo</servlet-name>
        <url-pattern>/Echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CannedResponse</servlet-name>
        <url-pattern>/CannedResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsyncCannedResponse</servlet-name>
        <url-pattern>/AsyncCannedResponse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
