<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Echo</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.Echo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratedResponse</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.GeneratedResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Echo</servlet-name>
        <url-pattern>/Echo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Gateway</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.Gateway</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gateway</servlet-name>
        <url-pattern>/Gateway</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CannedResponse</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.CannedResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CannedResponse</servlet-name>
        <url-pattern>/CannedResponse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LongRunningSleep</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.LongRunningSleep</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LongRunningSleep</servlet-name>
        <url-pattern>/LongRunningSleep</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LongRunningLocalProcess</servlet-name>
        <servlet-class>com.cleverfishsoftware.services.servlets.LongRunningLocalProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LongRunningLocalProcess</servlet-name>
        <url-pattern>/LongRunningLocalProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratedResponse</servlet-name>
        <url-pattern>/GeneratedResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
